{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
    <main class="container p-5">
        <table class="table">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Cash</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        {{ cash }}
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
    <div>{{ user }}</div>
{% endblock %}
